<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MonitorPath" value="D:\Ta_wuhen\NoWork\ta_wuhen\AutoUploadFtp\AutoUploadFtp\bin\Monitor"/>
    <add key="BackupPath" value="D:\Ta_wuhen\NoWork\ta_wuhen\AutoUploadFtp\AutoUploadFtp\bin\Monitor\back"/>
    <add key="UserName" value="Linex"/>
    <add key="Password" value="Linex1995"/>
    <add key="FtpPath" value="62.32.118.52"/>
    <add key="UploadDic" value="Tracking/"/>
    <add key="IntervalTime" value="1"/>
  </appSettings>
</configuration>